* {
    font-family: Outfit;
}


.qr-code-component {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.qr-code-card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
}

.qr-code-card>img {
    /* background-color: hsl(0, 0%, 100%); */
    height: 45%;
    border-radius: 16px;
    width: 100%;
}

.qr-code-card-content {
    padding: 10px 20px;
}

.qr-code-card-content>h2 {
    font-weight: 700;
    font-size: 1.8em;
}

.qr-code-card-content>p {
    font-size: 1.15em;
    font-weight: 300;
    color: grey;
}

@media only screen and (max-width: 550px) {
    .qr-code-card-content>p {
        font-size: 12px;
    }

    .qr-code-card-content>h2 {
        font-size: 20px;
    }

    .qr-code-card {
        width: 50%;
    }
}